body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
label{
    color: blue;
}
.form{
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 200px;
}

.btnenvoyer{
    justify-content: center;
    color: blue;
}
h2{
    color: blue;
    text-align: center;
    margin-bottom: 8px;
}

input[type="text"],input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

}

input[type="submit"]{
    width: 100%;
    padding: 8px;
    cursor: pointer;
}